body {
  background-color: beige;
}
h1 {
  color: cornflowerblue;
  transition: color 0.5s ease-in-out;
}
.active {
  color: blue;
}
.cool_font {
  font-family: "Lucida Console", "Courier New", monospace;
}
